body {
    margin: 0px;
	padding: 0px;
    background-color:white;
    text-align: center;
    font-family: 'Lato', sans-serif;
	font-size: 27px;
	font-weight: 400;
	color: white; 
	overflow-x: hidden;
}

.container {
	margin: 0px auto;
	width: 1570px; 
}

a {
	text-decoration: none;
	color: white;
}

li, a {
    color: #2C4A52;
    text-indent: -15px;
    text-decoration: none;
    text-transform: none;
    list-style: none;
}
a:focus {
    color: #6FB98F;
    font-weight: 700;
    transition: .3s linear;
}

#menu, .label:before, .label:after {
    content: " ";
    position: absolute;
    transform: translateX(-120%);
    width: 40px;
    height: 5px;
    background-color: #D3FFDD;
    border-radius: 2px;
    transition: .5s ease;
}

.label {
    padding: 38px 70px;
    position: absolute;
    z-index: 1;
}
.label:before { top: 50px;left:1345px }
.label:after { top: 65px;left:1345px  }

#menu {
    top: 44px;
    width: 0px;
    transition: .2s ease;
    z-index: 0;
    left: 1370px;
}
#menu li {
    line-height: 0.5;
    pointer-events: none;
    opacity: 0;
}

#menu-toggle:checked + .label:before {
    top: 60px;
    left: 1320px;
    transform: rotate(-45deg);
}
#menu-toggle:checked + .label:after {
    top: 60px;
    left: 1320px;
    transform: rotate(45deg);
}
#menu-toggle:checked + .label + #menu {
    top: 44px;
    right:500px;
    width: 200px;
    height: 150px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transition: .3s ease .2s;
    z-index: 1;
}
#menu-toggle:checked + .label + #menu li {
    pointer-events: all;
    font: 16pt 'Roboto', sans-serif;
    line-height: 2.3;
    opacity: 1;
    z-index: 2;
    transition: .2s ease .3s;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}
#politics{
    display: inline;
}

/*Header*/

header {
	z-index: 1;
	width: 100%;
}
header svg{
	margin-left:10px;
	margin-top:10px;
}

.nav {
	width:1400px;
	margin : 25px 25px 25px 25px;
    display: flex;
    justify-content: space-between; 
}

.nav img {
	height: 57px;
	width: 57px;
	margin-top: 15px;
}

.nav a {
	font-size: 25px; 
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 1190px; 
}

button {
	background: none;
	border: none; 
}

h1 {
    font-size: 40px;
    color: #2C7873;
    margin-top: 65px ;
}

.avatar {
    margin-top: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

h2 {
    font-size: 36px;
    margin-top: 12px;
    color: black;
}

p {
    margin-top: -10px;
    font-size: 24px;
}

.data {
   color: #6FB98F;
   display: inline;
}

.data1 {
    color: black;
    display: inline;
 }
 li, a {
    color: #fff;
    text-decoration: none;
    text-transform: none;
    list-style: none;
}
a:focus {
    color: #2C7873;
    font-weight: 700;
    transition: .3s linear;
}

#menu, .label:before, .label:after {
    content: " ";
    position: absolute;
    transform: translateX(-120%);
    width: 40px;
    height: 5px;
    background-color: #2C7873;
    border-radius: 2px;
    transition: .5s ease;
}

.label {
    padding: 38px 70px;
    position: absolute;
    z-index: 1;
}
.label:before { top: 25px; right: 1005px;}
.label:after { top: 40px;right:155px;  }

#menu {
    top: 10px;
    width: 0px;
    transition: .2s ease;
    z-index: 0;
    left: 1370px;
}
#menu li {
    line-height: 0.5;
    pointer-events: none;
    opacity: 0;
}

#menu-toggle:checked + .label:before {
    top: 60px;
    right:155px;
    transform: rotate(-45deg);
}
#menu-toggle:checked + .label:after {
    top: 60px;
    right:155px;
    transform: rotate(45deg);
}
#menu-toggle:checked + .label + #menu {
    top: 44px;
    right:500px;
    width: 200px;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transition: .3s ease .2s;
    z-index: 1;
}
#menu-toggle:checked + .label + #menu li {
    pointer-events: all;
    font: 16pt 'Roboto', sans-serif;
    line-height: 2.3;
    opacity: 1;
    z-index: 2;
    transition: .2s ease .3s;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}
main{
	margin-top:-8rem;
}